.footer {
    background: #3853f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer__social-media {
    display: flex;
    gap: 10px;
}

.footer__social-media img {
    width: 20px;
}

.footer__logo {
    width: 80px;
}

.footer__author {
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
}

@media screen and (min-width: 640px) {
    .footer {
        padding: 20px;
    }

    .footer__social-media {
        gap: 20px;
    }

    .footer__social-media img {
        width: 30px;
    }

    .footer__logo {
        width: 100px;
    }

    .footer__author {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1008px) {
    .footer__social-media img {
        width: 35px;
    }

    .footer__logo {
        width: 120px;
    }

    .footer__author {
        font-size: 1.25rem;
    }
}

