.combo-box-container {
  display: flex;
  flex-flow: column;
  align-items: start;
}

.combo-box-container__label {
  color: #242424;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2px;
}

.combo-box-container__select {
  padding: 0.6rem;
  color: #242424;
  font-size: 1rem;
  background-color: white;
  border-radius: 10px;
  border: 3px solid #242424;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.199);
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.combo-box-container__select:focus {
  outline: none;
}

.combo-box-container__option {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  color: #242424;
  cursor: pointer;
}

.combo-box-container__option:focus {
  outline: none;
}
