.input-field {
    width: 90%;
    padding: 12px 24px;
    margin-top: 5px 0;
    border: 1px solid #EAEAEA;
    border-radius: 24px;
    background-color: #333;
    color: #EAEAEA;
    font-size: 1rem;
    line-height: 150%;
}

.input-field:focus {
    outline: none;
    border: 1px solid #EAEAEA;
}

.input-field::placeholder {
    color: #EAEAEA;
}