.team-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-container__title {
  font-size: 2rem;
  font-weight: 400;
  color: #212121;
  position: relative;
  text-shadow: #e4e2e236 0px 0px 10px;
  text-align: center;
}

.team-container__border {
  width: 25px;
  height: 3px;
  background-color: #57c278;
  position: absolute;
  bottom: 40px;
  transform: translateX(-50%);
  left: 50%;
}

.team-container__collaborators {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0;
}