*{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(206, 206, 206);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: normal;
}

.texto-destaque {
  color: rgb(73, 136, 115)
}
