@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: "Montserrat", sans-serif;
  --bg-color: #365486;
  --primary-color: #DCF2F1;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 200;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
}

h2 #menor-valor, h2 #maior-valor, strong {
  font-weight: 500;
}

.mensagem {
  font-size: 1.5rem;
  margin-top: 40px;
}

.mensagem .box {
  display: inline-block;
  padding: 10px;
  font-size: 4rem;
  margin: 20px;
  border-radius: 20px 10px;
  border: 3px solid var(--primary-color);
}

.mensagem span {
  display: block;
}

.btn {
  margin-top: 20px;
  border: 0;
  padding: 8px 15px;
  border-radius: 10px;
  background: var(--primary-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
  font-weight: 600;
  font-family: var(--font-family);
}

.btn:hover {
  transform: scale(1.1);
}