::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
    margin: 0 auto;
    background-color: #1E1E1E;
    border-radius: 16px;
    border: none;
    padding: 48px 16px 16px 16px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-container__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
