@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

.form-container {
  width: 300px;
  background-color: #f6f6f6;
  box-shadow: 0px 7px 15px rgba(230, 227, 227, 0.226);
  border-radius: 15px;
  padding: 0 2rem 2rem 2rem;
}

.form-container__title {
  color: #242424;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 650px) {
  .form-container {
    width: 450px;
  }

  .form-container__title {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1280px) {
  .form-container {
    width: 600px;
  }
}
