.title-teams-container {
  position: relative;
}

.title-teams__title {
  font-size: 3rem;
  position: relative;
  text-shadow: #e4e2e236 0px 0px 10px;
  text-align: center;
}

.title_teams__border {
  width: 40px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.87);
  position: absolute;
  bottom: 15px;
  transform: translateX(-50%);
  left: 50%;
}
