.footer-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: #4851fd;
  align-items: center;
  padding: 1rem;
}

.footer-container__social-icons {
  list-style-type: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  gap: 1rem;
}

.footer-container__logo {
  height: 40px;
}

.footer-container__author > strong {
  font-weight: 500;
}
